body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A0A0A !important;
  background: radial-gradient(circle at top left, #291338 1%, #0A0A0A 10%, #2c1021 30%, #0A0A0A 50%, #291338 70%, #0A0A0A 90% );
}

.footer {
  background-color: #191E29;
  border-bottom: 0px solid #e0e0e0;
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}